body {
	background-image: url('http://www.geocities.com/clipart/pbi/backgrounds/Generic/blackwav.gif');
	width: 100%;
	min-height: 100%;
	color: white;
	font-family: 'Comic Sans MS';
}

#explosion {
	position: absolute;
}
